html{
	background-color: #ffffff;
		
}
body {
	background-color: #ede6e6;
	width: 960px;
	font-family: sans-serif;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: #373535
}

header
{
	height: 200px;
	padding-top : 20px; 

}

ul
{

	padding: 0;

}

li{

	display: inline;
	padding: 10px;
	font-size: 16px;
}

 header li:first-child{
 	border-right: 1px solid;
 }

 .left{

 	width: 320px;
 	float: left;
 }

 .left ul {

 	padding-left: 30px;
 	padding-top: 140px;
 }

 .right{

 	width: 320px;
 	float: right;
 }

.right ul {
	float: right;
 	padding-right: 30px;
 	padding-top: 140px;
 }

 #middle{
 	width: 320px;
 	float: left;
 	text-align: center;
 	color: #b46363;
 	font-size: 36px;
 	margin-top : 0;

 }

#middle p{
	margin: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

#main {
	//*background-color : #d8d2d2;*/
	height: 300px;

}

#main p{
	margin: 0;
	padding-top: 20px;
	color: #000000;
	text-align : center;
	font-size: 30px;  

}

form{
	padding-top: 30px;
	text-align: center;

}

.box{
	position: relative;
	float: left;
	margin: 15px 0;


}

.box img{

	position: relative;
	z-index: 1;
	margin-left: 50px ;
}

.box p{
	position: absolute;
	z-index: 2;
	margin-left: 30px ;
	width: 100%;
	top: 12px;
	text-align: center;
	font-size: 24px;
	color: #ffffff;
}
nav{

	font-size: 16px;
	text-align: center;
	padding-bottom: 10px;
}

footer{

	background-color: #e5e0e0;
}
footer img{
	display: block;
	margin: 0 auto;
}

footer li{
	border-right: 1px solid;
}

footer li:last-child
{
	border-right: none;
}















































