<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitHit</title>
    <link rel="stylesheet"  href="{{ url_for('static',filename='styles/style1.css')}}">
</head>
<body>
    <header>
        <div class="left">
            <ul>
                <li><a href="/bodyfat"> Body Fat</a> </li>
                <li><a href="/bmi">BMI</a></li>
            </ul>
        </div>
         <div class="right">
            <ul>
                <li><a href="/motivation">Motivation</a></li>
                <li><a href="/ideas">Ideas</a></li>
            </ul>
        </div>
        <div id="middle" >
            <a href="/">
            <img src="{{ url_for('static',filename='images/FITHIT.png')}}" height="150" width="150">
            <p><b>FITHIT</b></p>
            </a>
        </div>
    </header>
    <div id="main">
        <p>Join our club </p>
        <p>Sign up now </p>
        <form >
            <input type="email" name="email" placeholder="Enter your email address">
            <input type="submit" name="Submit">
        </form>
        <img src="{{ url_for('static',filename='images/barbell.jpg')}}" width="960" height="300">
    </div>
    <div class="cf">
        <div class="box">
            <a href="/home">
                <img src="{{ url_for('static',filename='images/home.jpg')}}" height="250" width="250">
                <p>Home Workout</p>
            </a>
        </div>
        <div class="box">
            <a href="/gym">
                <img src="{{ url_for('static',filename='images/gym.jpg')}}" height="250" width="250">
                <p>Workout Routine</p>
            </a>
        </div>
        <div class="box">
            <a href="/diet">
                <img src="{{ url_for('static',filename='images/diet.jpg')}}" height="250" width="250">
                <p>Diet</p>
            </a>
        </div>
    </div>
    <footer>
        <img src="{{ url_for('static',filename='images/tushar.png')}}" height="85" width="85">
        <nav>
            <ul>
                <li><a href="https://github.com/tusharsarkar3">Tushar Sarkar</a></li>
                <li><a href="tushar.sarkar@somaiya.edu">Email in the link</a></li>
                <li><a href="https://www.bodybuilding.com/documents/the-ultimate-guide-to-building-muscle.pdf">References</a></li>
            </ul>
            
            
        </nav>
        
    </footer>
</body>
</html>