{% extends "base.html"%}
{% block content%}
{% block link%}
<link rel="stylesheet"  href="{{ url_for('static',filename='styles/style2.css')}}">
{%endblock%}
<form action="/ideas" method="post" ></form>
<p>If losing pounds is as easy as journaling about what you put in your mouth, can you use the same technique to help you stick to a fitness routine?
Dieters who kept a food diary lost twice as much weight as those who kept no records, according to a recent study by Kaiser Permanente’s Center for Health Research. But while keeping a journal holds you more accountable for how you treat your body, sticking to a fitness routine is different from sticking to a healthy eating routine. Personal trainers we talked to recommend these tactics to keep you motivated and inspired to work out.If losing pounds is as easy as journaling about what you put in your mouth, can you use the same technique to help you stick to a fitness routine?
Dieters who kept a food diary lost twice as much weight as those who kept no records, according to a recent study by Kaiser Permanente’s Center for Health Research. But while keeping a journal holds you more accountable for how you treat your body, sticking to a fitness routine is different from sticking to a healthy eating routine. Personal trainers we talked to recommend these tactics to keep you motivated and inspired to work out.If losing pounds is as easy as journaling about what you put in your mouth, can you use the same technique to help you stick to a fitness routine?
Dieters who kept a food diary lost twice as much weight as those who kept no records, according to a recent study by Kaiser Permanente’s Center for Health Research. But while keeping a journal holds you more accountable for how you treat your body, sticking to a fitness routine is different from sticking to a healthy eating routine. Personal trainers we talked to recommend these tactics to keep you motivated and inspired to work out.</p>
<div>
    <h2>
    1. CHANGE YOUR PERSPECTIVE
    </h2>
    <p>
    Shift your thinking from couch potato mentality to thinking like an athlete. This may sound like a big challenge.
     Take inspiration from everyone you meet — even people who can’t be physically active. Whether you need to put an “I’m lucky” sticky note on the mirror, committing to a fitness routine begins in your head.
    </p>
</div>

<div>
    <h2>
    2. SET A GOAL
    </h2>
    <p>
    There’s nothing more motivating than that first 5K looming in bold letters on the calendar. Register early and commit to an exercise program that will get you in shape by race day.
“Set realistic goals that include clear milestones, and as you progress toward your goal, you’ll find a ripple effect occurs and things fall into place in your work, home life, and health,” says Stacy Fowler, a Denver-based personal trainer and life coach.
The goal doesn’t even have to be an organized race. Maybe it’s a mission to fit into that bikini by the annual beach vacation or that old pair of jeans buried in your closet. Whatever it is, define it, write it down and revisit it daily.
Make sure it’s realistic and you can actually adapt your life around meeting the goal, says Philip Haberstro, executive director of the National Association for Health and Fitness in Buffalo, New York. Otherwise you’re setting yourself up for failure.
    </p>
</div>

<div>
    <h2>
    3. SCHEDULE A REGULAR WORKOUT TIME
    </h2>
    <p>
    Some of the most committed exercisers do it every day before the sun comes up . Sit down with your weekly schedule and try to build in an hour each day to be good to your body.
Tamira Cole, 24, a graduate student in Clarksville,Tennessee, was motivated to exercise regularly by the energy boost it brought to her day. “It’s easy to stay in bed. But you have to set an alarm and take the extra initiative,” she says. “Then you’ll find you have more energy and can be more efficient throughout the day.”
If you convince yourself you’ll fit in a workout some time after that last meeting, once the kids go down for a nap or when your spouse arrives home on time, failure is certain. Chances are a last-minute invitation will come along; weather will foil a bike ride; or the kids won’t nap. Write your workout on your calendar, set up daycare, and rearrange things around this one hour as if it were any other important appointment you have to keep. Or use technology like daily e-mail reminders, workout journaling websites, or apps to keep you on task, says Haberstro.
    </p>
</div>

<div>
    <h2>
    4. THINK FUN AND VARIETY
    </h2>
    <p>
    By nature, humans need change and variety to stay motivated. We also need to have fun — even while we’re working hard. Do both!
Whether it’s a toning and sculpting class that changes choreography every week or a trail run that changes scenery every season, design your exercise routine around a variety of exercise methods. Make sure you include activities you truly enjoy and look forward to doing, and can even make you forget you're working out — like dancing, hula hooping, or playing sports with family and friends.
Workout variety also challenges your body in unique ways, which may introduce you to new muscle groups you didn’t even know you had. Consider disciplines that give you more bang for your buck, suggests Haberstro. Ta’i chi and yoga, for example, serve dual purposes as mental therapy and physical activity. Or try a workout DVD to help you shake up your routine.
    </p>
</div>

<div>
    <h2>
    5. REACH OUT TO OTHERS FOR SUPPORT
    </h2>
    <p>
        In order to stick to a fitness program, we need buy-in and encouragement from other people.For others, it’s finding a friend with a shared zest for running, and planning scheduled workouts together. It’s easy to hit the snooze button when it’s just you, but much harder to leave a friend waiting at the track.
Consider joining a social networking site or online community with fitness trainers and nutrition experts — and support from other people trying to lose weight and maintain healthy eating and exercise routines. People who get this kind of online support are proven to lose up to three times more weight than people going it alone.
Lobbying your workplace to offer on-site fitness, yoga, or Pilates classes will also support your mission for a healthy lifestyle, Haberstro points out.
So start thinking of yourself as an athlete, and not a spectator. Set a goal, enlist a friend, mark it on your calendar, and have some fun. You’ll be setting yourself up for a lifetime of better health, more happiness, and more energy for everything else in your life.
    </p>
</div>

{% endblock%}